USE [master]
GO
/****** Object:  Database [GardenyaDB]    Script Date: 12.4.2019 10:02:27 ******/
CREATE DATABASE [GardenyaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GardenyaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQL2017\MSSQL\DATA\GardenyaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GardenyaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQL2017\MSSQL\DATA\GardenyaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GardenyaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GardenyaDB]
GO
USE [GardenyaDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12.4.2019 10:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AltKategoris]    Script Date: 12.4.2019 10:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AltKategoris](
	[AltKategoriID] [int] IDENTITY(1,1) NOT NULL,
	[AltKategoriAdi] [nvarchar](max) NOT NULL,
	[AltKategoriLink] [nvarchar](max) NULL,
	[KategoriID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AltKategoris] PRIMARY KEY CLUSTERED 
(
	[AltKategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12.4.2019 10:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12.4.2019 10:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12.4.2019 10:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12.4.2019 10:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12.4.2019 10:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[UserRole] [nvarchar](max) NULL,
	[Ad] [nvarchar](max) NULL,
	[Soyad] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[KullaniciID] [int] NULL,
	[UyelikTarihi] [datetime] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[Telefon] [nvarchar](max) NULL,
	[Resim] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 12.4.2019 10:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[CartID] [nvarchar](max) NULL,
	[UrunID] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[SubTotal] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Carts] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoris]    Script Date: 12.4.2019 10:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoris](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](max) NOT NULL,
	[KategoriLink] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kategoris] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparis]    Script Date: 12.4.2019 10:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparis](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[Durum] [bit] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[Kullanici_Id] [nvarchar](128) NULL,
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Siparis] PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiparisDetays]    Script Date: 12.4.2019 10:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetays](
	[SiparisDetayID] [int] IDENTITY(1,1) NOT NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [int] NOT NULL,
	[SiparisID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SiparisDetays] PRIMARY KEY CLUSTERED 
(
	[SiparisDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunlers]    Script Date: 12.4.2019 10:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunlers](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](max) NULL,
	[Aciklama] [nvarchar](max) NULL,
	[Resim] [nvarchar](max) NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [int] NOT NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[AltKategoriID] [int] NOT NULL,
	[GirisimciID] [nvarchar](max) NULL,
	[Kullanici_Id] [nvarchar](128) NULL,
	[SatılanAdet] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Urunlers] PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AltKategoris] ON 

INSERT [dbo].[AltKategoris] ([AltKategoriID], [AltKategoriAdi], [AltKategoriLink], [KategoriID]) VALUES (1, N'Mutfak', N'Mutfak', 2)
INSERT [dbo].[AltKategoris] ([AltKategoriID], [AltKategoriAdi], [AltKategoriLink], [KategoriID]) VALUES (2, N'Aydınlatma', N'Aydinlatma', 2)
INSERT [dbo].[AltKategoris] ([AltKategoriID], [AltKategoriAdi], [AltKategoriLink], [KategoriID]) VALUES (3, N'Vazo', N'Vazo', 2)
SET IDENTITY_INSERT [dbo].[AltKategoris] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'cb6b8a61-14fb-45f3-b0a5-67a57c5676f4', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'd09dad38-ed18-4e2f-9cc6-5354c9a5d97e', N'Girisimci')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'b9b20f55-b264-43ae-ad41-28b451bacb2b', N'User')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'4c1fe0b8-33f6-4945-abd2-8e7b2e65feb8', N'b9b20f55-b264-43ae-ad41-28b451bacb2b')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8ef7e906-5bf7-47c5-b3fa-465aa1126eba', N'b9b20f55-b264-43ae-ad41-28b451bacb2b')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd60d7786-21a4-4cd8-8e5c-4769bf1ae1a1', N'b9b20f55-b264-43ae-ad41-28b451bacb2b')
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([RecordID], [CartID], [UrunID], [Count], [DateCreated], [SubTotal]) VALUES (19, N'9822543f-2dd6-4c85-b383-3d20ec45ee06', 13, 3, CAST(N'2019-03-27T10:30:22.447' AS DateTime), 0)
INSERT [dbo].[Carts] ([RecordID], [CartID], [UrunID], [Count], [DateCreated], [SubTotal]) VALUES (20, N'9822543f-2dd6-4c85-b383-3d20ec45ee06', 11, 2, CAST(N'2019-03-27T10:33:16.027' AS DateTime), 0)
INSERT [dbo].[Carts] ([RecordID], [CartID], [UrunID], [Count], [DateCreated], [SubTotal]) VALUES (21, N'200368c0-5dd5-4c5d-951f-36fca61c7021', 12, 2, CAST(N'2019-03-27T10:38:41.600' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Carts] OFF
SET IDENTITY_INSERT [dbo].[Kategoris] ON 

INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAdi], [KategoriLink]) VALUES (1, N'Anasayfa', N'Anasayfa')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAdi], [KategoriLink]) VALUES (2, N'Ev Dekorasyon', N'EvDekorasyon')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAdi], [KategoriLink]) VALUES (3, N'Organizasyon', N'Organizasyon')
SET IDENTITY_INSERT [dbo].[Kategoris] OFF
SET IDENTITY_INSERT [dbo].[Urunlers] ON 

INSERT [dbo].[Urunlers] ([UrunID], [Baslik], [Aciklama], [Resim], [Adet], [Fiyat], [EklenmeTarihi], [AltKategoriID], [GirisimciID], [Kullanici_Id], [SatılanAdet]) VALUES (4, N'Ürün1', N'Ürün1', N'../Upload/Products/10e224e0-a193-4778-af3f-2b719af0c45f.png', 1245, 42, CAST(N'2019-03-15T10:02:08.620' AS DateTime), 8, N'0', NULL, 0)
INSERT [dbo].[Urunlers] ([UrunID], [Baslik], [Aciklama], [Resim], [Adet], [Fiyat], [EklenmeTarihi], [AltKategoriID], [GirisimciID], [Kullanici_Id], [SatılanAdet]) VALUES (6, N'Ürün4', N'Ürün4', N'../Upload/Products/015f040e-6de4-448d-8371-9a41d7eb5cb7.png', 100, 50, CAST(N'2019-03-15T10:23:34.153' AS DateTime), 14, N'1', NULL, 0)
INSERT [dbo].[Urunlers] ([UrunID], [Baslik], [Aciklama], [Resim], [Adet], [Fiyat], [EklenmeTarihi], [AltKategoriID], [GirisimciID], [Kullanici_Id], [SatılanAdet]) VALUES (8, N'Ürün6', N'Ürün6', N'../Upload/Products/f4e56c2b-31ee-4a9e-b7c8-6c882abdb81b.png', 435, 34, CAST(N'2019-03-15T11:22:55.587' AS DateTime), 11, N'1', NULL, 0)
SET IDENTITY_INSERT [dbo].[Urunlers] OFF
/****** Object:  Index [IX_KategoriID]    Script Date: 12.4.2019 10:02:28 ******/
CREATE NONCLUSTERED INDEX [IX_KategoriID] ON [dbo].[AltKategoris]
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12.4.2019 10:02:28 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12.4.2019 10:02:28 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12.4.2019 10:02:28 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 12.4.2019 10:02:29 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12.4.2019 10:02:29 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 12.4.2019 10:02:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UrunID]    Script Date: 12.4.2019 10:02:29 ******/
CREATE NONCLUSTERED INDEX [IX_UrunID] ON [dbo].[Carts]
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Kullanici_Id]    Script Date: 12.4.2019 10:02:29 ******/
CREATE NONCLUSTERED INDEX [IX_Kullanici_Id] ON [dbo].[Siparis]
(
	[Kullanici_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiparisID]    Script Date: 12.4.2019 10:02:29 ******/
CREATE NONCLUSTERED INDEX [IX_SiparisID] ON [dbo].[SiparisDetays]
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UrunID]    Script Date: 12.4.2019 10:02:29 ******/
CREATE NONCLUSTERED INDEX [IX_UrunID] ON [dbo].[SiparisDetays]
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AltKategoriID]    Script Date: 12.4.2019 10:02:29 ******/
CREATE NONCLUSTERED INDEX [IX_AltKategoriID] ON [dbo].[Urunlers]
(
	[AltKategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Kullanici_Id]    Script Date: 12.4.2019 10:02:29 ******/
CREATE NONCLUSTERED INDEX [IX_Kullanici_Id] ON [dbo].[Urunlers]
(
	[Kullanici_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[Siparis] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[SiparisDetays] ADD  DEFAULT ((0)) FOR [UrunID]
GO
ALTER TABLE [dbo].[Urunlers] ADD  DEFAULT ((0)) FOR [SatılanAdet]
GO
ALTER TABLE [dbo].[AltKategoris]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AltKategoris_dbo.Kategoris_KategoriID] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoris] ([KategoriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AltKategoris] CHECK CONSTRAINT [FK_dbo.AltKategoris_dbo.Kategoris_KategoriID]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carts_dbo.Urunlers_UrunID] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunlers] ([UrunID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_dbo.Carts_dbo.Urunlers_UrunID]
GO
ALTER TABLE [dbo].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Siparis_dbo.AspNetUsers_Kullanici_Id] FOREIGN KEY([Kullanici_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Siparis] CHECK CONSTRAINT [FK_dbo.Siparis_dbo.AspNetUsers_Kullanici_Id]
GO
ALTER TABLE [dbo].[SiparisDetays]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SiparisDetays_dbo.Siparis_SiparisID] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparis] ([SiparisID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SiparisDetays] CHECK CONSTRAINT [FK_dbo.SiparisDetays_dbo.Siparis_SiparisID]
GO
ALTER TABLE [dbo].[SiparisDetays]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SiparisDetays_dbo.Urunlers_UrunID] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunlers] ([UrunID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SiparisDetays] CHECK CONSTRAINT [FK_dbo.SiparisDetays_dbo.Urunlers_UrunID]
GO
ALTER TABLE [dbo].[Urunlers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Urunlers_dbo.AltKategoris_AltKategoriID] FOREIGN KEY([AltKategoriID])
REFERENCES [dbo].[AltKategoris] ([AltKategoriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Urunlers] CHECK CONSTRAINT [FK_dbo.Urunlers_dbo.AltKategoris_AltKategoriID]
GO
ALTER TABLE [dbo].[Urunlers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Urunlers_dbo.AspNetUsers_Kullanici_Id] FOREIGN KEY([Kullanici_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Urunlers] CHECK CONSTRAINT [FK_dbo.Urunlers_dbo.AspNetUsers_Kullanici_Id]
GO
USE [master]
GO
