@model IEnumerable<GardenyaGirisimciKadinlar.Models.UrunlerGirisimciAltKatViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KategoriLayout.cshtml";
}

<section class="category-section spad2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1" style="margin-right:20px !important">
                <div class="filter-widget">

                    <ul class="category-menu">

                        @foreach (var item in Model)
                        {

                            <li>
                                @Html.ActionLink(item.AltKategoriAdi, "Index", new { id = item.KategoriID, kid = item.AltKategoriID }, new { @class = "urun" })                             
                            </li>

                        }


                    </ul>



                </div>
            </div>

            <div class="col-lg-8  order-2 order-lg-2 mb-5 mb-lg-0">
                <div class="container product-filter-section" >
                    <div class="row">
                        @if (ViewBag.urunler!=null)
	                       {
	
                        foreach (var item in ViewBag.urunler)
                        {
                            <div class="col-lg-4 col-sm-8">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="../@item.Resim" alt="" height="300px !important" >
                                        <div class="pi-links">
                                            <a href="@Url.Action("UrunDetay", "Home", new { id = item.UrunID })" class="add-card"><i class="flaticon-bag"></i><span> Ürünü İncele</span></a>
                                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="pi-text">
                                        <h6> @item.Fiyat<span class="simge-tl">&#8378;</span></h6>
                                        <p> @item.Baslik</p>
                                    </div>

                                </div>
                            </div>
                        }	}

                    </div>


                </div>
            </div>



        </div>
    </div>
</section>

