@model IEnumerable<GardenyaGirisimciKadinlar.Models.Kategori>

<nav class="main-navbar">
    <div class="container">
        <!-- menu -->
        <ul class="main-menu">

            @foreach (var item in Model)
            {
                if (item.KategoriAdi=="Anasayfa")
                {
                    <li>
                        @Html.ActionLink(item.KategoriAdi, "Index", "Home", new { id = item.KategoriID }, new { @class = "urun" })
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink(item.KategoriAdi, "Index", "UrunlerKategori", new { id = item.KategoriID }, new { @class = "urun" })
                    </li>}

            }
        </ul>
    </div>
</nav>